body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #02105E;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.header-logo {
  animation-duration: 1s;
  animation-name: enter-left;

  animation: enter-opacity 2s;
}

.sticky-logo {
  position: relative;
  top: 32px;
  margin-left: 25px;
  z-index: 100;
  width: 98px;
  height: 98px;
  transition: 0.5s;
}

.hidden-logo {
  margin-left: -120px;
}

@keyframes enter-left {
  from {
    margin-left: -120px;
  }

  to {
    margin-left: 20px;
  }
}

@keyframes enter-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.link-no-decoration {
  text-decoration: none !important;
  color: #02105E !important;
}

.header-link {
  height: 49px;
  line-height: 48.51px;
  text-align: left;
}

.language-text {
  font-size: 32px;
  font-weight: 600;
}

.language-selector-text {
  cursor: pointer;
  font-size: 24px;
}

.color-selector-text:hover {
  background-color:#606BA7;
}

.dropdown1 {
  color: white;
  position: absolute;
  left: 2px;
  background-color: #02105E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1px;
  text-align: center;
  margin-top: 49px;
  width: 74px;
  border-radius: 5px;


}

.dropdown div {
  cursor: pointer;
  padding: 5px;
}

.align-content-center {
  display: flex;
  align-items: center;
}